<body>
  <h1> Welcome to Rock, Paper, Scissors. Choose Wisely... </h1>
<form action="/result" method="post">
<input type="radio" name="choice" value="rock">Rock<br>
<input type="radio" name="choice" value="paper">Paper<br>
<input type="radio" name="choice" value="scissors">Scissors<br>
<input type="submit" value="Make Your Move" />
</form>
<a href= "/rps_game_results">Last 20 Game Results</a>
</body>